/* reset 웹디자인 기능사 실기 셋팅값*/
* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  text-decoration: none;
  color: #222328;
  box-sizing: border-box;
  list-style: none;
}

.wrap {
  width: 1200px;
  margin: auto;
  background-color: mintcream;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: powderblue;
}

#logo a {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
}

#gnb .depth1 {
  display: flex;
  /* gap: 50px; a태그 넓혀줌 */
}

#gnb .depth1 li {
  position: relative;
}

/* #gnb .depth1:hover .depth2 전체메뉴 보이게 li잡으면 각각의 메뉴 */
#gnb .depth1 li:hover .depth2 {
  /* background-color: #fff; */
  display: block;
}

#gnb .depth2 {
  display: none;
  background-color: honeydew;
  position: absolute;
  left: 0;
  top: 100px;
  z-index: 1000;
  /* width: 100%; = right 0*/
  right: 0;
  text-align: center;
  padding: 10px 0;
}

#gnb .depth2 a {
  display: block;
  padding: 3px 0;
}

#gnb .depth1 > li > a {
  display: flex;
  align-items: center;
  padding: 0 30px;
  height: 100px;
  padding: 0 50px;
}

.slide {
  overflow: hidden;
  position: relative;
  height: 300px;
}

.slide ul {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

/* .slide ul a {
  display: block;
}

.slide ul img {
  display: block;
} */

#main {
  height: 200px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.sec-g {
  /* width: 33.333%; 섹션 3등분*/
  flex-grow: 1;
  /*1 : true, 0: false  */
  flex-basis: 0;
  padding: 10px 0;
}

.sec-g .sec-tit {
  margin-bottom: 10px;
  font-size: 20px;
}

/* bbs */
.sec-bbs .list-bbs a {
  display: block;
}

.sec-bbs .list-bbs li::before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: pink;
  margin-right: 10px;
  display: block;
}

.sec-bbs .list-bbs li {
  display: flex;
  align-items: center;
}

.sec-bnr .sec-tit,
.sec-goto .sec-tit {
  text-indent: -99999px;
  line-height: 0;
  font-size: 0;
  margin-bottom: 0;
}

.sec-goto .list-goto {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin: 10px;
}

.sec-goto .list-goto li {
  display: flex;
  width: 48%;
  height: 48%;
  /* background-color: #fff; */
  justify-content: center;
}

.sec-goto .list-goto a {
  display: block;
  height: 100%;
  text-align: center;
  line-height: 85px;
}

#footer {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  border-top: 1px solid #000;
}
