@import url(./fonts.css);
@import url(./reset.css);

* {
  color: blue;
}

.desc2 {
  font-size: 32px;
  color: bisque;
  font-weight: bold;
}
.desc1 {
  color: blueviolet;
}

p.desc1 {
  color: brown;
}

#main {
  width: 500px;
  height: 700px;
  background-color: lightpink;
}

.header {
  height: 100px;
  background-color: #eee;
}

.header.dark {
  background-color: #333;
}

.header .depth1 {
  background-color: lightblue;
}

#gnb .depth1 li {
  background-color: lightyellow;
}

#gnb .depth1 a {
  color: green;
}

#gnb .depth1 a {
  color: red;
}

#gnb .depth1 > li {
  background-color: lightsalmon;
}

#gnb .depth1 > li > a {
  color: blue;
}
#gnb .depth2 a {
  color: lawngreen;
}

#gnb .depth2 a:hover {
  background-color: #000000;
}

.input {
  width: 300px;
  height: 50px;
}

.input:focus {
  background-color: #333333;
  color: #ffffff;
}

.bbs li a {
  color: rgb(255, 166, 0);
}

.bbs li:first-child {
  background-color: lavenderblush;
}

.bbs li:first-child a {
  color: red;
}

.bbs li:last-child {
  background-color: lightcoral;
}

.bbs li:last-child a {
  color: teal;
}

.bbs li:nth-child(2) {
  background-color: turquoise;
}

.bbs li:nth-child(2) a {
  color: azure;
}

.goto li::before {
  content: ">";
}

.goto li::after {
  content: "<";
}

.goto li a::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background: url(./images/mobile_212852414260.png) 0 0 no-repeat;
  background-size: 100%;
}

.goto li a::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background: url(./images/thumb.jpeg) 0 0 no-repeat;
  background-size: 100%;
}

.goto li a {
  color: #333 !important;
}

.icon li:first-child::before {
  content: "\f015";
  font-family: "Line Awesome free";
  font-weight: 900;
}

.icon li:nth-child(2)::before {
  content: "\f002";
  font-family: "Line Awesome free";
  font-weight: 900;
}

.icon li:nth-child(3)::before {
  content: "\f09b";
  font-family: "Line Awesome brands";
}

.icon li:nth-child(4)::before {
  content: "\f16d";
  font-family: "Line Awesome brands";
}

.icon li:last-child::before {
  content: "\f167";
  font-family: "Line Awesome brands";
}

.icon a::after {
  content: "ㅎㅎ";
}

/* font */

.font-size1 {
  font-size: 20px;
}

.font-size2 {
  font-size: 1.25em;
  /* 12px기준 1.25em은 15px */
  /* 부모 기준 */
}

.font-size3 {
  /* 20px */
  font-size: 1.6666666666666667em;
}

.font-size4 {
  font-size: 1.6666666666666667em;
}

.font-size5 {
  font-size: 1.6666666666666667rem;
}

.font-size6 {
  font-size: 1.6666666666666667rem;
}

.font-size7 {
  font-size: 10vw;
}

.font-f1 {
  font-family: "Sofia", cursive;
}

.font-f2 {
  font-family: "Roboto", sans-serif;
}
