/* reset 전체 셋팅값 */
* {
  /* 브라우저 기본 폰트 사이즈 16px */
  font-size: 12px;
  font-family: "Noto Sans KR", "Malgun Gothic", "맑은 고딕", helvetica,
    "Apple SD Gothic Neo", sans-serif;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 1.5;
}
